.A {
    background-color: #108f09;
}
.B {
    background-color: #7fc417;
}
.C {
    background-color: #fcee21;
}
.D {
    background-color: #fbb03c;
}
.E {
    background-color: #f15a24;
}
.F {
    background-color: #fe1212;
}
.G {
    background-color: #bd0405;
}
