@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-style: normal;
}
.filter:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    background-image: url("/images/BG-landing.jpg");
    z-index: -1;
    filter: brightness(40%);
    background-position: center;
    background-size: cover;
    height: 53rem;
}

.subscribeFilter {
    background-image: url("/images/Subscribe.png");
    background-position: center;
    background-size: cover;
    height: 15rem;
}

.tilsalgFilter {
    background-image: url("/images/bannerTilsalg.png");
    background-position: center;
    background-size: cover;
    height: 15rem;
}

/* label input[type="radio"] {
    display: none
}

input[type="radio"]:checked + img {
    border-bottom: 0.3rem;
    border-color: orangered;
    opacity: 70;
    transform: scale(1.1);
} */

@media screen and (min-height: 500px) {
    .media-landing {
        width: 70%;
    }
    .media-search {
        width: 85%;
    }
    .media-h2 {
        font-size: 2.4rem;
    }
    .DMS {
        padding-left: 40rem;
    }
}
@media screen and (min-height: 900px) {
    .media-landing {
        width: 60%;
    }
    .media-search {
        width: 86%;
    }
    .media-h2 {
        font-size: 2.5rem;
    }
    .DMS {
        padding-left: 16rem;
    }
}
